.body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 50%;
  padding: 50px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #fff;
}

.title {
  font-size: 22px;
}

.inputLabel {
  display: block;
  padding: 5px 0;
  margin-bottom: 5px;
}

.input {
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.textarea {
  width: 90%;
  height: 130px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.addBtn {
  color: #fff;
  background-color: #ccc;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 2rem;
}

.saveBtn {
  margin-top: 8rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 50px;
  background-color: #5385a4;
  border: 1px solid #5385a4;
  border-radius: 5px;
  color: #fff;
  font-size: 1.1rem;
}

.icons {
  margin-top: 10px;
}

@media (max-width: 575.98px) {
  .container {
    margin-top: 10rem;
    width: 320px;
  }

  .title {
    font-size: 18px;
  }

  .inputLabel {
    padding: 5px 0;
    font-size: 12px;
  }

  .input {
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
    font-size: 12px;
  }

  .textarea {
    font-size: 12px;
  }

  .saveBtn {
    margin-top: 3rem;
    padding: 5px 25px;
    font-size: 12px;
  }

  .icons {
    margin-top: 10px;
  }
}
