.body {
  height: 70vh;
  font-family: "Poppins", sans-serif;
}

.inputBox {
  margin-top: 3vh;
  margin-bottom: 7vh;
}

.input1 {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 20px;
  position: absolute;
  left: 20%;
  top: 20px;
  width: 20%;
}

.input1:focus {
  outline: none;
}

.input2 {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  position: absolute;
  left: 41%;
  top: 20px;
}

.input2:focus {
  outline: none;
}

.searchBtn {
  margin-left: 10px;
  background-color: #62a5bb;
  border: 1px solid #62a5bb;
  color: #fff;
  border-radius: 5px;
  padding: 8px;
  position: absolute;
  left: 54%;
  top: 20px;
  width: 3%;
}

.card {
  margin: 0 90px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  border-top: 3px solid #dbe5ee;
  box-shadow: 1px 5px 10px #dcdcdc;
  margin-bottom: 30px;
  color: #000;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

.warningIcon {
  margin-top: 26vh;
  text-align: center;
  font-size: 4rem;
  color: #62a5bb;
}

.warning {
  text-align: center;
  font-size: 23px;
}

.detailBtn {
  padding: 7px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 15px;
  border: 1px solid #ccc;
  transition: 0.3s;
}

.detailBtn:hover {
  border: 1px solid #959595;
}

@media (max-width: 600px) {
  .input1 {
    top: 12%;
    padding: 6px;
    left: 10%;
    width: 35%;
  }

  .input2 {
    top: 12%;
    left: 47%;
    padding: 6px;
    width: 35%;
  }

  .searchBtn {
    top: 12%;
    padding: 6px;
    width: 10%;
    left: 81%;
  }

  .card {
    margin: 50px 70px;
  }
}
