.custom-dot {
  border: 1px solid #eee;
  margin: 5px;
  padding-left: 10px;
  outline: none;
}

.custom-dot--active {
  transform: scale(1.1);
  outline: auto;
  outline-color: #d3e4f3;
}

@media (max-width: 420px) {
  .custom-dot {
    display: none;
  }
}
