.wrapper {
  position: absolute;
  top: 2%;
  left: 61%;
}

.container {
  position: absolute;
  top: 0%;
  height: 6vh;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em;
  border-radius: 20px;
  width: 340px;
  -webkit-box-shadow: 0px 17px 34px -20px #7a7a7a;
  box-shadow: 0px 17px 34px -20px #7a7a7a;
}

.cardImg {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-left: auto;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cardImg:hover {
  opacity: 0.5;
}

.containerCustomDots {
  margin-bottom: 0px;
}

@media (max-width: 1000px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .wrapper {
    position: absolute;
    top: 67%;
    left: 0;
    right: 0;
  }

  .container {
    position: absolute;
    height: 6vh;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
}
