.container {
  height: 75vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("../Assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input1 {
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 25%;
  margin-right: 10px;
}

.input1:focus {
  outline: none;
}

.input2 {
  padding: 8px;
  border: 1px solid #fff;
  width: 20%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.input2:focus {
  outline: none;
}

.headerBtn {
  background-color: #62a5bb;
  border: 1px solid #62a5bb;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 42.5px;
  width: 42px;
}

.arrowIcon {
  position: absolute;
  font-size: 25px;
  padding-top: 500px;
  color: #fff;
}

.arrowIcon:hover {
  color: #959595;
  transition: 0.3s;
}

@media (max-width: 600px) {
  .container {
    height: 60vh;
  }

  .input1 {
    width: 40%;
  }

  .input2 {
    padding: 8px;
    width: 30%;
  }
}
